@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Teko:wght@300&display=swap');


body{
    background-color: #fafafa;
    font-family: 'Teko', sans-serif;
    margin: 0;
}
.container{
width: 80%;
margin: auto;

}
title{

    margin: 0;
    font-family: 'Russo One', sans-serif;
}
.flex{
    display: flex;

}
.flex-align-center{

    align-items: center;

}
.flex-space-between{
justify-content: space-between;

}
.text-center{
    text-align: center;
    
}
.img-full{
    width: 100%;
    
    
        }
header{
    background-color: #B392AC;
color: #F7D1CD;
padding: 16px 0;

}
header .logo{

    font-family: 'Russo One', sans-serif;

}
nav ul {
padding: 0;
    
}
nav ul li {
    display: inline;
    margin-left: 16px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color:#F7D1CD ;
}
main{
padding: 32px 0;

}
footer{
    background-color: #B392AC;
    color: #F7D1CD;
    padding: 16px 0;
    
    }
    .OurKets {
margin-top: 32px;
    }
    .card{
background-color: #F7D1CD;
padding: 8px 0;
border-radius: 10px;
margin: 16px;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }
   